& {

    margin: 10px auto auto 58px;
    padding: 6px;

    > div {
        background-color: var(--quick-search-bg-color);
        border: 2px solid var(--quick-search-border-color);
        width: 60vw;
        border-radius: 16px;
    }

    background-color: transparent;
    border: none;
    /*padding: 0;*/
    color: var(--primary-color);

    .search-header {
        font-size: large;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: var(--quick-search-bg-color);
        border: 1px solid var(--quick-search-border-color);
        border-radius: 4px;
        padding: 0.5ch;

        span:first-child {
            margin: 0 0.5ch;
            display: flex;
        }

        input {

            width: 100%;
            background: var(--quick-search-bg-color);
            color: var(--primary-color);
            border: none;
            /*padding: 1ch;*/

            &:focus, &:focus-within, &:focus-visible {
                outline: none;
            }
        }

        &:has(> input:focus-within, > input:focus-visible) {
            outline-width: 2px;
            outline-style: auto;
        }

        margin-bottom: 16px;
    }

    #query-results {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            text-decoration: none;
        }
    }
}