& {
    h1, h2 {
        margin-top: 0;
        font-weight: bold;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        column-count: 1;
        column-gap: 40px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;

        > li {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        > li:not(:first-child) {
            margin-top: 12px;
        }
    }

    @media (min-width: 600px) {
        ul {
            column-count: 2;
        }
    }

    @media (min-width: 800px) {
        ul {
            column-count: 3;
        }
    }
}