& {
    height: 128px;

    @media only screen and (max-width: 960px) {
        height: unset;
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;

    @media only screen and (max-width: 960px) {
        grid-template-columns: 1fr;
    }


    div {

        width: 100%;
        height: 100%;
    }

    button {
        font-weight: 500;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        cursor: pointer;
        padding: 0;
        text-align: center;
        border-radius: 4px;
        border: #878787 solid 2px;

        @media only screen and (max-width: 960px) {
            span:first-child {
                display: none;
            }

            span {
                padding: 0.25rem;
            }
        }
    }

    button:hover {
        background-color: var(--tertairy-bg-color);
        border: var(--primary-color) solid 2px;
        transition: all .25s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }

    button[lef-link-active] {
        background-color: var(--primary-color);
        color: var(--secondary-bg-color);
    }

    .product-skill {
        background-color: #8c9ebb;
    }

    .social-skill {
        background-color: #a2b490;
    }

    .personal-skill {
        background-color: #d49e81;
    }
}
