& {
    @media only screen and (max-width: 960px) {
        /*display: flex;*/
        /*flex-direction: row;*/
        padding: 0 24px;
    }

    border-right: 1px solid var(--line-color);
    font-size: 1rem;

    ul {
        @media only screen and (max-width: 960px) {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly !important;
            padding: 0;

            li {
                width: 100%;

                a {
                    justify-content: center;
                }
            }

            li > a > span {
                &:first-child {
                    margin: 0;
                }
                &:nth-child(2) {
                    display: none;

                    /*visibility: hidden;*/
                }
            }
        }
        margin: 0;
        padding: 8px 0;
        list-style: none;

        li {
            display: flex;
        }

        border-bottom: 1px solid var(--line-color);
    }

    a.active{
        background-color: var(--tertairy-bg-color);
    }

    a {
        height: 1.5rem;
        line-height: 24px;
        text-decoration: none;
        padding: 12px 16px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;


        span:first-child {
            margin-right: 12px;
            display: flex;
        }

        &:hover, &:active, &:target {
            background-color: var(--tertairy-bg-color);
        }

        @media only screen and (max-width: 1280px) {
            span:first-child {
                margin: 0;
            }
            span:nth-child(2) {
                display: none;
            }
        }
    }
}