& {
    max-width: clamp(300px, 60vw, 1200px);
    max-height: 80vh;
    margin: auto;
    padding: 0;
    border: none;
    background: transparent;
    color: var(--primary-color);
    box-shadow: 0px 0px 6px 0px rgba(from var(--primary-color) r g b / 0.1);

    &::backdrop {
        opacity: 0.5;
        background: var(--primary-bg-color);
    }

    & .settings-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        min-width: 280px;

        h2 {
            margin: 0;
        }

        fieldset {
            border: 1px solid var(--line-color);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        legend {
            font-weight: bold;
            padding: 0 8px;
        }

        label {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
        }
    }
}
